<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details of Parameters</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/details">Details of Parameters</a>
        </nav>
        <div class="logo">
            <!-- Placez votre logo ici -->
            <img src="/static/logo.png" alt="Logo">
        </div>
        <h1>Details of Parameters</h1>
    </header>
    <div id="details">
        {% for feature, description in descriptions.items() %}
        <div class="parameter-detail">
            <h2>{{ feature }}</h2>
            <p>{{ description }}</p>
        </div>
        {% endfor %}
    </div>
</body>
</html>
