<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dataset analysis</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/details">Details of Parameters</a>
            <a href="/graphs">Dataset analysis</a>
        </nav>
        <div class="logo">
            <img src="/static/logo.png" alt="Logo">
        </div>
        <h1>Dataset analysis</h1>
    </header>
    <section>
        <h2>Heatmap de la Matrice de Corrélation des Features Sélectionnées (Filtrées)</h2>
        <img src="{{ url_for('static', filename='correlation_heatmap.png') }}" alt="Correlation Heatmap">
        <p>La heatmap de corrélation permet de visualiser les relations entre les variables. Plus la couleur est intense, plus la relation est forte. Cela aide à identifier les variables qui sont fortement corrélées et qui pourraient redondantes dans le modèle.</p>

        <h2>Distribution de la Variable Cible</h2>
        <img src="{{ url_for('static', filename='target_distribution.png') }}" alt="Target Variable Distribution">
        <p>Ce graphique montre la distribution des classes dans le jeu de données. Il est essentiel de vérifier si les classes sont équilibrées ou non, car un déséquilibre pourrait biaiser le modèle prédictif.</p>

        <h2>3D Scatter Plot of Selected Features</h2>
        <img src="{{ url_for('static', filename='3d_scatter.png') }}" alt="3D Scatter Plot">
        <p>Ce graphique en 3D permet de visualiser les relations entre trois features spécifiques. Cela peut révéler des regroupements naturels dans les données, ou des anomalies qui pourraient être des attaques.</p>

        <h2>Boxplot of Numerical Features Grouped by Target Variable</h2>
        <img src="{{ url_for('static', filename='boxplot_grouped.png') }}" alt="Boxplot of Numerical Features">
        <p>Les boxplots groupés par la variable cible montrent la distribution de chaque feature numérique pour chaque classe. Cela permet d'identifier les features qui diffèrent le plus entre les classes.</p>
		<h2>Histograms des Features Sélectionnées (Filtrées)</h2>
        <div class="graph-container">
            <img src="{{ url_for('static', filename='Histograms.png') }}" alt="Histograms des Features Sélectionnées">
        </div>
        <div class="description">
            <h3>Interprétation :</h3>
            <p><strong>Axe des X :</strong> Il représente les valeurs des différentes features sélectionnées après filtration. Par exemple, pour des features comme serror_rate ou same_srv_rate, les valeurs sont comprises entre 0 et 1, ce qui correspond à des taux ou des proportions.</p>
            <p><strong>Axe des Y :</strong> Il montre la fréquence de ces valeurs dans le dataset. Par exemple, un pic à 10 000 signifie qu'environ 10 000 échantillons dans le dataset ont une valeur spécifique pour cette feature.</p>
            <p><strong>Observation :</strong> Ces histogrammes permettent d'analyser la distribution des valeurs pour chaque feature. Par exemple, si la majorité des valeurs pour une feature donnée se trouvent autour de 0, cela pourrait indiquer que cette feature a une tendance dominante, comme un taux d'erreur faible pour la majorité des échantillons.</p>
        </div>

        <h2>Lollipop Chart du Nombre Moyen de Services par Machine</h2>
        <div class="graph-container">
            <img src="{{ url_for('static', filename='Lollipop_chart.png') }}" alt="Lollipop Chart du Nombre Moyen de Services par Machine">
        </div>
        <div class="description">
            <h3>Interprétation :</h3>
            <p><strong>Axe des X :</strong> Il représente l'état des machines (class), que ce soit infecté ou non.</p>
            <p><strong>Axe des Y :</strong> Il montre le nombre moyen de services de destination (dst_host_srv_count) pour chaque état.</p>
            <p><strong>Observation :</strong> Ce graphique aide à comparer la moyenne des services de destination pour les machines infectées et non infectées, révélant ainsi des tendances spécifiques associées aux infections.</p>
        </div>
	</div>
    </section>
</body>
</html>
