<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Machine State Prediction</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/details">Details of Parameters</a>
			<a href="/graphs">Dataset analysis</a>
        </nav>
        <div class="logo">
            <!-- Placez votre logo ici -->
            <img src="/static/logo.png" alt="Logo">
        </div>
        <h1>Predict Machine State</h1>
    </header>
	<form action="/upload" method="post" enctype="multipart/form-data">
    <label for="file">Sélectionnez un fichier:</label>
    <input type="file" id="file" name="file" required>

    <label for="file_type">Type de fichier:</label>
    <select id="file_type" name="file_type">
        <option value="log">Log</option>
        <option value="evtx">EVTX</option>
		<option value="csv">csv</option>
    </select>

    <button type="submit">Analyser</button>
</form>

    <form id="predictForm">
        {% for feature in features %}
        <div class="form-group">
            <label for="{{ feature }}">{{ feature }}</label>
            <input type="text" id="{{ feature }}" name="{{ feature }}" required>
            <small>{{ descriptions[feature] }}</small>
        </div>
        {% endfor %}
        <button type="submit">Analyse</button>
    </form>
    <div id="result"></div>
    <script>
        document.getElementById('predictForm').onsubmit = async function(event) {
            event.preventDefault();
            const formData = new FormData(event.target);
            const response = await fetch('/predict', {
                method: 'POST',
                body: formData
            });
            const result = await response.json();
            if (result.error) {
                document.getElementById('result').innerHTML = `<h2>Error: ${result.error}</h2>`;
            } else {
                let resultHtml = `<h2>Prediction: ${result.prediction}</h2>`;
                if (result.explanation !== "Normal") {
                    resultHtml += `<h3>Explanation:</h3><p>${result.explanation}</p>`;
                }
                document.getElementById('result').innerHTML = resultHtml;
            }
        };
    </script>
</body>
</html>
